@import '../../scss/variables';

.display,
.operators,
.numeric_keypad,
.calculate {
  display: grid;
  margin-bottom: 16px;
  justify-content: center;
  justify-items: stretch;
  width: 240px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: grab;

  .calculatorBlock > & {
    box-shadow: none;
  }
}
.calc_Button {
  border: 1px solid #e2e3e5;
  border-radius: 6px;
  margin: 4px;
  display: grid;
  user-select: none;

  div {
    align-self: center;
    justify-self: center;
  }
}

.operators {
  grid-template-columns: repeat(4, 1fr);
  height: 56px;
  .calc_Button {
    width: 52px;
    height: 48px;
  }
}

.numeric_keypad {
  height: 224px;
  grid-template-columns: repeat(3, 1fr);
  .calc_Button.\30 {
    grid-column: 1 / 3;
  }
}

.display,
.calculate {
  grid-template-columns: 100%;
}

.display {
  height: 60px;

  &[draggable='false'] > .calc_Button {
    cursor: no-drop;
  }

  &.hover:hover {
    cursor: default;
  }
  .calc_Button {
    width: 232px;
    height: 52px;
    background: $display_backgr;

    div {
      align-self: center;
      justify-self: end;
      font-weight: 800;
      font-size: 36px;
      margin-right: 8px;
      color: #111827;
    }
  }
}

.hover:hover:not(.display) {
  margin: 3px;
  border: 2px solid $activ_color;
  cursor: pointer;
}

.calc_Button.display.hover > div {
  font-size: 19px;
}

.hover:active:not(.display) {
  background: $activ_color;
}

.calculate {
  height: 72px;
  color: #fff;

  &[draggable='false'] > .calc_Button:not(.hover) {
    cursor: no-drop;
  }

  .calc_Button {
    background-color: #5d5fef;
    width: 232px;
    height: 64px;

    &.hover:hover {
      cursor: pointer;
    }
  }
}

.line {
  height: 1px;
  display: grid;
  border: 1px solid #5d5fef;
  margin-bottom: 5px;
  width: 243px;
  grid-template-columns: 100%;

  .calc_Button {
    border: none;
  }
}
