@import '../../scss/variables';

.wrapper {
  width: 640px;
  height: 695px;
  margin: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-align: center;

  .constructor {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    justify-content: center;
    width: 640px;
    height: 695px;
    text-align: center;
    margin: auto;

    &.runtime {
      grid-template-columns: none;
      justify-content: end;
      margin-left: -65px;
    }
  }
}
